@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IM+Fell+Great+Primer:ital@1&family=Tiro+Devanagari+Hindi:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&family=Tiro+Devanagari+Hindi:ital@1&family=Tiro+Telugu&display=swap");

body {
  margin: 0;
  font-family: "IM Fell Great Primer", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: "Tiro Telugu", serif;
}

.App {
  background: rgba(101, 101, 101, 50%);
  max-width: 700px;
  margin: 20px auto;
  width: 90%;
  color: #eee;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background: rgba(0, 0, 0, 50%);
}

.navbar h1 {
  margin: 10px 0;
}

.todo-list {
  margin: 20px;
}

.todo-list ul {
  padding: 0;
  list-style-type: none;
}

.todo-list li {
  background: #9c9c9c;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.todo-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}

.todo-list title {
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.todo-list time {
  font-size: 0.9em;
  color: #ddd;
}

.empty {
  margin: 20px;
  text-align: center;
}

form {
  padding: 20px;
}

input {
  font-family: "IM Fell Great Primer", serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #272727;
  color: #fff;
  border: 1 px;
  border: #fff;
}

input[type="submit"] {
  margin: 10px auto;
  background: #606060;
  border: 0;
  padding: 6px 20px;
  display: block;
  font-family: "Tiro Telugu", serif;
}
